.env
.env.*
!.env.example

node_modules/
parse_server/node_modules/

.superpowers/

ppt-parser/frontend-slides/
ppt-parser/server.pid
ppt-parser/server.log

ppt-parser/slides/
ppt-parser/elastic_log_html/
